body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e2e2af;
}

.container {
  width: 750px;
  margin: 40px auto;
  padding: 20px;
  background-color: #636343;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.logo img {
  width: 180px;
  height: auto;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

h2 {
  margin-top: 25px;
  font-size: 24px;
}

ol, ul {
  margin-left: 25px;
  font-size: 16px;
}

.highlight {
  color: #c40000;
  font-weight: bold;
}

hr {
  margin-top: 25px;
  border: none;
  height: 1px;
  background-color: #999;
}

.link {
  color: #c40000;
  font-weight: bold;
  cursor: pointer;
}